<%- include ('./partials/head.ejs') %>
<link rel ="stylesheet" href="styles/login.css">
<link rel ="stylesheet" href="styles/home.css">
<body>
    <div class="loginContainer"> 
        <div class="title pb-5">
            <h3>Welcome to Bookworm!</h3>
            <img src="/assets/book.jpg" width="100%" alt="Book">
        </div>
    </div>

    <!-- Footer -->
    <%- include ('./partials/footer.ejs') %>
</body>
</html>