
/* @import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&family=Rajdhani:wght@500&display=swap'); */
body {

   background-image: url('/public/assets/book.jpg');
   background-repeat: no-repeat;
   background-size: cover;

}
 .center-div {
    padding-top: 10%;
    
 }
 .logout {
   text-align: right;
   padding: .2em;
   text-decoration: none;
 }
 h1 {
   text-align: center;
 }
 header li {
   display:inline-flex;
   text-decoration: none;
   padding: 1em;

 }
h4.member-names {
   text-decoration: none;
 }
 header li a:hover {
   background-color:darkblue
 }
.loginContainer {
   margin: auto;
   /* width: 25%; */
   padding: 3em 0 3em 0;
   border: .2em;
   border-style: double;
   background-color: antiquewhite;
 }
 form {
    padding: 0 3em;
 }
 #login.title>span {
    font-size: .8em;
 }
li {
   text-align: center;
   text-decoration: none;
   list-style: none;
}
 .flex-grid {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   overflow-x: scroll;
   /* flex-wrap: wrap; */
}
 .book-card {
   height: 450px;
   width: calc(360px + 2vw);
   margin: 2em;
   padding: 2em;
   background-color: antiquewhite;
   border-radius: 2em;
   text-align: center;
}
.book-card img {
   height:20em;
   width: 13em;
   border-radius: 2em;
}

.book-card figcaption * {
   overflow: hidden;
   white-space: nowrap;
   text-align: center;
}

.book-card h6 {
   text-overflow: ellipsis;
}
.flex-container {
   display:block;
   box-sizing: border-box;
   justify-content: center;
   text-align: center;
   border: 1em;
   border-style: double;
   border-color: papayawhip;
   border-radius: 50% 20% / 20% 50%;;
   margin: 2%;
}


 footer {
      margin-top: 2em;
      text-align: center;
 }




 
